.is-fullheight-100vh{
  min-height: 100vh;
}
.is-100-width{
  width: 100%;
}
body {
  background-color: #121212;
  color: #ffffff;
}
/* playing with nav bar / scrollbar interaction 
body::-webkit-scrollbar-track {
    background: #0a0a0a; 
} */
.page-content{
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: #ffffff;
}

.container {
  padding: 40px;
  padding-right: 0;
}

.title {
  color: #ffffff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  gap: 30px;
}

.gallery .card {
  transition: 0.1s linear;
}

.gallery .card:hover {
  transform: scale(1.1);
  z-index: 10;
}

p {
  font-size: 12px;
}

.detail__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 500px;
  background-color: #ffffff;
  overflow: hidden;
}
.dog-profile-img{
  min-width: 375px;
}
.detail__img::after {
  content: "";
  background-image: linear-gradient(transparent 60%, #1f1f1f);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: top;
}

.detail__name {
  position: absolute;
  z-index: 5;
  top: 400px;
}

.detail__container {
  margin-top: 500px;
}
.detail__works {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.work {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    justify-content: space-between;
}
.workDetails{
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 90%;
}
.work:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
    cursor: pointer;
}

.work_img {
  max-width: 300px;
  height: auto;
}
body > footer{
  margin-top: auto;
}

.fix-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow:hidden;
}

.gallery-all-items{
  overflow-x: scroll;
  overflow-wrap: hidden;
  white-space: nowrap;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #121212; 
}
 
::-webkit-scrollbar-thumb {
  background: #2f2f2f; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.gallery-item{
  max-width: 128px;
}

.nothingHereGif{
  width: 50%;
  margin: 0 auto;
}
.slideshow1{
  transition: height 1s, opacity 1s;
  height: 0px;
}
.infotext1{
  border-radius: 20px;
  transition: inherit, background-color 1s;
}
.infotext1:hover{
  background-color: hsla(0, 0%, 100%, 0.144);
}
.infotext-def1{
  transition: inherit;
  margin: 20px;
}


.slideshow2{
  transition: height 1s, opacity 1s;
  height: 0px;
}
.infotext2{
  border-radius: 20px;
  transition: inherit, background-color 1s;
}
.infotext2:hover{
  background-color: hsla(0, 0%, 100%, 0.144);
}
.infotext-def2{
  transition: inherit;
  margin: 20px;
}


.infotext-wrapper{
  background-color: hsla(0, 0%, 100%, 0.02);
  border-radius: 20px;
  margin: 10px;
}