{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css" />
        <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body class = '
        is-fullheight-100vh
        is-flex-direction-column 
        has-navbar-fixed-top
        is-flex-grow-1        
        columns
        is-mobile
        '>
        <nav class="navbar is-black is-flex-grow-0 is-fixed-top mb-6" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">Dogs of Brutalism</a>
                <a role="button" class="navbar-burger is-clearfix" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            {% if user.is_authenticated %}
                <div class="navbar-menu navbar-start">
                    <span class="navbar-item">Welcome: {{user.username}}</span>
                </div>
                <div class="navbar-menu navbar-end">
                    <a class="navbar-item" href="/dogs">All Dogs</a>
                    <a class="navbar-item" href="/about">About</a>
                    <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
                </div>
            {% else %}
                <div class="navbar-menu navbar-end">
                    <a class="navbar-item" href="/dogs">All Dogs</a>
                    <a class="navbar-item" href="/about">About</a>\
                    <a class="navbar-item" href="{% url 'signup' %}">Sign Up</a>
                    <a class="navbar-item" href="{% url 'login' %}">Log In</a>
                </div>
            {% endif %}

        </nav>
        <div class="page-content column">
            {% block content %}{% endblock %}
        </div>
        <footer class='
        footer
        is-flex-direction-column
        has-background-black
        mt-5
        p-3
        column
        is-flex-grow-0
        '>
        <div class="content has-text-centered">
            <p class='is-inline'>Brought to you by Tim Rathert</p>
            <b> | </b>
            <a class="button is-link is-rounded is-small is-info is-light" href="https://github.com/TimRathert">Tim's Github</a>
            <b> | </b>
            <a class="button is-link is-rounded is-small is-info is-light" href="mailto: rathertt@gmail.com">Email the Tim</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" aync integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>        
    <script src="{% static 'scripts/main.js' %}" async defer></script>
</body>
</html>