{% extends 'base.html' %} 
{% block title %}
    Dogs of Brutalism: Galleries Hosted 
{% endblock %}
{% block content %}
<div class="home__gallerys">
    <h1 class="title is-1 has-text-centered">Dogs of Brutalism</h1>

    <div class="infotext-wrapper">
        <p class="is-size-3 infotext1 has-text-centered boxed-radius">What is Dogs of Brutalism?</p>
        <div class="is-clipped slideshow1">
            <p class="infotext-def1 has-text-centered">
                This is a space dedicated to some of the most prolific dogs of the Brutalist movement and the works that they have created.
            </p>    
        </div>
    </div>

    <div class="infotext-wrapper">
        <p class="is-size-3 infotext2 has-text-centered boxed-radius">What is Brutalism?</p>
        <div class="is-clipped slideshow2">
            <p class="infotext-def2 has-text-centered">
                Brutalist architecture is an architectural style that emerged during the 1950s in the United Kingdom, among the reconstruction projects of the post-war era. Brutalist buildings are characterised by minimalist constructions that showcase the bare building materials and structural elements over decorative design. The style commonly makes use of exposed, unpainted concrete or brick, angular geometric shapes and a predominantly monochrome colour palette; other materials, such as steel, timber, and glass, are also featured.
            </p>
            <div class="has-text-right"><a href="https://en.wikipedia.org/wiki/Brutalist_architecture">Taken From Wikipedia</a></div>
            <img class="slidwshow-img" src="https://anotherimg-dazedgroup.netdna-ssl.com/701/azure/another-prod/380/1/381026.jpg"/>
        </div>
    </div>

    
</div>
{% endblock %}